section.cta {
  background-color: $primary-color;
  padding: 2rem 0;
  color: $default-color;
}

section.cta .cta-content {
  width: 960px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    width: 100%;
    flex-wrap: wrap;
    padding: 0 1rem;
  }
}

section.cta .cta-title {
  font-size: 24px;
}

section.cta .cta-button {
  background: $primary-color 0% 0% no-repeat padding-box;
  border: 2px solid $default-color;
  border-radius: 5px;
  opacity: 1;
  color: $default-color;
  padding: 8px;
  width: 170px;
  height: 50px;
  font-size: 13px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;
    transition: 0.3s ease;
    color: $primary-color;
    background-color: $default-color;
  }
}
